# Kelompok II - Causes of Death in Indonesia

Dataset Penyebab Kematian di Indonesia dikompilasi dalam bentuk file CSV untuk memudahkan analisis.

####
> 1. Read Data

In [4]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('Penyebab Kematian di Indonesia yang Dilaporkan - Clean.csv')

####
> 2. Show Data

In [5]:
df.head()

,Cause,Type,Year,Data Redundancy,Total Deaths,Source,Page at Source,Source URL
0,Abrasi Air Laut,Bencana Alam,2012,1,0,Profil Kesehatan Indonesia Tahun 2012,Lampiran 3.38,https://pusdatin.kemkes.go.id/download.php?fil...
1,AIDS,Bencana Non Alam dan Penyakit,2000,1,47,Profil Kesehatan Indonesia Tahun 2004,78,https://pusdatin.kemkes.go.id/download.php?fil...
2,AIDS,Bencana Non Alam dan Penyakit,2001,1,99,Profil Kesehatan Indonesia Tahun 2004,78,https://pusdatin.kemkes.go.id/download.php?fil...
3,AIDS,Bencana Non Alam dan Penyakit,2002,1,100,Profil Kesehatan Indonesia Tahun 2004,78,https://pusdatin.kemkes.go.id/download.php?fil...
4,AIDS,Bencana Non Alam dan Penyakit,2003,1,261,Profil Kesehatan Indonesia Tahun 2010,115,https://pusdatin.kemkes.go.id/download.php?fil...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680 entries, 0 to 679
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Cause            680 non-null    object
 1   Type             680 non-null    object
 2   Year             680 non-null    int64
 3   Data Redundancy  680 non-null    int64
 4   Total Deaths     680 non-null    int64
 5   Source           680 non-null    object
 6   Page at Source   678 non-null    object
 7   Source URL       677 non-null    object
dtypes: int64(3), object(5)
memory usage: 42.6+ KB

####
> 3. Handle missing values

In [7]:
df.isnull().sum()

Cause              0
Type               0
Year               0
Data Redundancy    0
Total Deaths       0
Source             0
Page at Source     2
Source URL         3
dtype: int64

In [8]:
df[df["Source URL"].isna() | df["Page at Source"].isna()]

,Cause,Type,Year,Data Redundancy,Total Deaths,Source,Page at Source,Source URL
149,COVID-19,Bencana Non Alam dan Penyakit,2021,1,121956,COVID19.go.id,NaN,NaN
150,COVID-19,Bencana Non Alam dan Penyakit,2022,1,12876,COVID19.go.id,NaN,NaN
608,Rabies - Lyssa,Bencana Non Alam dan Penyakit,2020,1,40,Profil Kesehatan Indonesia Tahun 2020,205,NaN

menggabungkan kedua informasi catatan dan hapus salah satunya. Buat kategori baru "unknown" untuk "source url" dan "page at source"

In [9]:
df.loc[df.Cause == "COVID-19", "Total Deaths"] = 22138 + 37889
df.loc[df.Cause == "COVID-19", "Year"] = 2021
df.loc[df.Cause == "COVID-19", "Source URL"] = "unknown"
df.loc[df.Cause == "COVID-19", "Page at Source"] = "unknown"

df_to_drop = df[ df['Cause'] == "COVID-19 (per tanggal 3/7/2021)" ] 
df = df.drop(df_to_drop.index, axis=0)
df.reset_index(drop=True, inplace=True)

df[(df["Cause"]=="COVID-19") | (df["Cause"]=="COVID-19 (per tanggal 3/7/2021)")]

,Cause,Type,Year,Data Redundancy,Total Deaths,Source,Page at Source,Source URL
148,COVID-19,Bencana Non Alam dan Penyakit,2021,1,60027,Profil Kesehatan Indonesia Tahun 2020 dan COVI...,unknown,unknown
149,COVID-19,Bencana Non Alam dan Penyakit,2021,1,60027,COVID19.go.id,unknown,unknown
150,COVID-19,Bencana Non Alam dan Penyakit,2021,1,60027,COVID19.go.id,unknown,unknown

In [10]:
df.isnull().sum()

Cause              0
Type               0
Year               0
Data Redundancy    0
Total Deaths       0
Source             0
Page at Source     0
Source URL         1
dtype: int64

In [11]:
df[df["Source URL"].isna()]

,Cause,Type,Year,Data Redundancy,Total Deaths,Source,Page at Source,Source URL
608,Rabies - Lyssa,Bencana Non Alam dan Penyakit,2020,1,40,Profil Kesehatan Indonesia Tahun 2020,205,NaN

In [12]:
df.loc[df.Cause == "Rabies - Lyssa", "Source URL"] = "unknown"

In [13]:
df.isnull().sum()

Cause              0
Type               0
Year               0
Data Redundancy    0
Total Deaths       0
Source             0
Page at Source     0
Source URL         0
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680 entries, 0 to 679
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Cause            680 non-null    object
 1   Type             680 non-null    object
 2   Year             680 non-null    int64
 3   Data Redundancy  680 non-null    int64
 4   Total Deaths     680 non-null    int64
 5   Source           680 non-null    object
 6   Page at Source   680 non-null    object
 7   Source URL       680 non-null    object
dtypes: int64(3), object(5)
memory usage: 42.6+ KB

Membuang ekstra sepasi dalam teks

In [50]:
df['Cause'] = df['Cause'].replace('\s+', ' ', regex=True)
df['Type'] = df['Type'].replace('\s+', ' ', regex=True)
df['Source'] = df['Source'].replace('\s+', ' ', regex=True)
df['Page at Source'] = df['Page at Source'].replace('\s+', ' ', regex=True)
df['Source URL'] = df['Source URL'].replace('\s+', ' ', regex=True)

Check duplicates

In [51]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [Cause, Type, Year, Data Redundancy, Total Deaths, Source, Page at Source, Source URL]
Index: []

In [52]:
df.drop_duplicates(inplace=True)

In [53]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [Cause, Type, Year, Data Redundancy, Total Deaths, Source, Page at Source, Source URL]
Index: []

In [54]:
df.reset_index(drop=True, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 679 entries, 0 to 678
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Cause            679 non-null    object
 1   Type             679 non-null    object
 2   Year             679 non-null    int64
 3   Data Redundancy  679 non-null    int64
 4   Total Deaths     679 non-null    int64
 5   Source           679 non-null    object
 6   Page at Source   679 non-null    object
 7   Source URL       679 non-null    object
dtypes: int64(3), object(5)
memory usage: 42.6+ KB

Analisa Data Yang sudah clean

In [58]:
df

,Cause,Type,Year,Data Redundancy,Total Deaths,Source,Page at Source,Source URL
0,Abrasi Air Laut,Bencana Alam,2012,1,0,Profil Kesehatan Indonesia Tahun 2012,Lampiran 3.38,https://pusdatin.kemkes.go.id/download.php?fil...
1,AIDS,Bencana Non Alam dan Penyakit,2000,1,47,Profil Kesehatan Indonesia Tahun 2004,78,https://pusdatin.kemkes.go.id/download.php?fil...
2,AIDS,Bencana Non Alam dan Penyakit,2001,1,99,Profil Kesehatan Indonesia Tahun 2004,78,https://pusdatin.kemkes.go.id/download.php?fil...
3,AIDS,Bencana Non Alam dan Penyakit,2002,1,100,Profil Kesehatan Indonesia Tahun 2004,78,https://pusdatin.kemkes.go.id/download.php?fil...
4,AIDS,Bencana Non Alam dan Penyakit,2003,1,261,Profil Kesehatan Indonesia Tahun 2010,115,https://pusdatin.kemkes.go.id/download.php?fil...
...,...,...,...,...,...,...,...,...
674,Wabah Penyakit (Epidemi),Bencana Non Alam dan Penyakit,2016,1,0,Profil Kesehatan Indonesia Tahun 2016,Lampiran 6.37,https://pusdatin.kemkes.go.id/download.php?fil...
675,Wabah Penyakit (Epidemi),Bencana Non Alam dan Penyakit,2017,1,0,Profil Kesehatan Indonesia Tahun 2017,Lampiran 6.43,https://pusdatin.kemkes.go.id/download.php?fil...
676,Wabah Penyakit (Epidemi),Bencana Non Alam dan Penyakit,2019,1,0,Profil Kesehatan Indonesia Tahun 2019,Lampiran 63.c,https://pusdatin.kemkes.go.id/download.php?fil...
677,Wabah Penyakit (Epidemi),Bencana Non Alam dan Penyakit,2020,1,0,Profil Kesehatan Indonesia Tahun 2020,191,https://pusdatin.kemkes.go.id/download.php?fil...
678,Wabah Penyakit (Epidemi),Bencana Non Alam dan Penyakit,2021,1,0,Profil Kesehatan Indonesia Tahun 2021,253,https://www.kemkes.go.id/downloads/resources/d...

In [41]:
# 1. Total kematian pertahun dan penyebab penyakit
# Memanggil kolom dari Total Deaths, Year dan Cause
no1_df = df[['Total Deaths', 'Year', 'Type']]
no1_df

     Total Deaths  Year                           Type
0               0  2012                   Bencana Alam
1              47  2000  Bencana Non Alam dan Penyakit
2              99  2001  Bencana Non Alam dan Penyakit
3             100  2002  Bencana Non Alam dan Penyakit
4             261  2003  Bencana Non Alam dan Penyakit
..            ...   ...                            ...
674             0  2016  Bencana Non Alam dan Penyakit
675             0  2017  Bencana Non Alam dan Penyakit
676             0  2019  Bencana Non Alam dan Penyakit
677             0  2020  Bencana Non Alam dan Penyakit
678             0  2021  Bencana Non Alam dan Penyakit

[679 rows x 3 columns]

In [42]:
# Menjumlahkan total kematian pertahun 
no1_df.groupby('Year')['Total Deaths'].agg(['sum', 'max'])

         sum     max
Year
2000     339     183
2001     324     100
2002     435     100
2003     633     261
2004  220744  129171
2005  123036   19944
2006  127065   19361
2007   89275   21830
2008  106298   23163
2009   33124   18448
2010   39261   29952
2011    2173     597
2012    1834     816
2013    1145     871
2014    1199     907
2015    2356    1071
2016    2624    1598
2017    1044     493
2018    4976    2615
2019   14697   11993
2020   15925   13174
2021  137204   60027

In [55]:
# Menjumlahkan total kematian pertahun 
no1_df.groupby('Type')['Total Deaths'].agg(['sum'])

                                  sum
Type
Bencana Alam                   185290
Bencana Non Alam dan Penyakit  740160
Bencana Sosial                    261

In [62]:
# 2. Penyebab kematian dari non bencana alam dan penyakit
no2_df = df[['Cause', 'Type', 'Total Deaths', 'Year', 'Source']]
no2_df

,Cause,Type,Total Deaths,Year,Source
0,Abrasi Air Laut,Bencana Alam,0,2012,Profil Kesehatan Indonesia Tahun 2012
1,AIDS,Bencana Non Alam dan Penyakit,47,2000,Profil Kesehatan Indonesia Tahun 2004
2,AIDS,Bencana Non Alam dan Penyakit,99,2001,Profil Kesehatan Indonesia Tahun 2004
3,AIDS,Bencana Non Alam dan Penyakit,100,2002,Profil Kesehatan Indonesia Tahun 2004
4,AIDS,Bencana Non Alam dan Penyakit,261,2003,Profil Kesehatan Indonesia Tahun 2010
...,...,...,...,...,...
674,Wabah Penyakit (Epidemi),Bencana Non Alam dan Penyakit,0,2016,Profil Kesehatan Indonesia Tahun 2016
675,Wabah Penyakit (Epidemi),Bencana Non Alam dan Penyakit,0,2017,Profil Kesehatan Indonesia Tahun 2017
676,Wabah Penyakit (Epidemi),Bencana Non Alam dan Penyakit,0,2019,Profil Kesehatan Indonesia Tahun 2019
677,Wabah Penyakit (Epidemi),Bencana Non Alam dan Penyakit,0,2020,Profil Kesehatan Indonesia Tahun 2020
678,Wabah Penyakit (Epidemi),Bencana Non Alam dan Penyakit,0,2021,Profil Kesehatan Indonesia Tahun 2021

In [63]:
kr1 = no2_df['Type']=='Bencana Alam dan Penyakit'

no2_df[kr1]

Empty DataFrame
Columns: [Cause, Type, Total Deaths, Year, Source]
Index: []

In [59]:
# 3. Penyebab kematian tertinggi dari bencana alam
no3_df = df[['Type', 'Total Deaths', 'Cause', 'Year', 'Source']]
no3_df

,Type,Total Deaths,Cause,Year,Source
0,Bencana Alam,0,Abrasi Air Laut,2012,Profil Kesehatan Indonesia Tahun 2012
1,Bencana Non Alam dan Penyakit,47,AIDS,2000,Profil Kesehatan Indonesia Tahun 2004
2,Bencana Non Alam dan Penyakit,99,AIDS,2001,Profil Kesehatan Indonesia Tahun 2004
3,Bencana Non Alam dan Penyakit,100,AIDS,2002,Profil Kesehatan Indonesia Tahun 2004
4,Bencana Non Alam dan Penyakit,261,AIDS,2003,Profil Kesehatan Indonesia Tahun 2010
...,...,...,...,...,...
674,Bencana Non Alam dan Penyakit,0,Wabah Penyakit (Epidemi),2016,Profil Kesehatan Indonesia Tahun 2016
675,Bencana Non Alam dan Penyakit,0,Wabah Penyakit (Epidemi),2017,Profil Kesehatan Indonesia Tahun 2017
676,Bencana Non Alam dan Penyakit,0,Wabah Penyakit (Epidemi),2019,Profil Kesehatan Indonesia Tahun 2019
677,Bencana Non Alam dan Penyakit,0,Wabah Penyakit (Epidemi),2020,Profil Kesehatan Indonesia Tahun 2020
678,Bencana Non Alam dan Penyakit,0,Wabah Penyakit (Epidemi),2021,Profil Kesehatan Indonesia Tahun 2021

In [60]:
no3_df.sort_values('Total Deaths', ascending=False).head(10)

,Type,Total Deaths,Cause,Year,Source
668,Bencana Alam,129171,Tsunami Aceh (Meninggal),2004,Profil Kesehatan Indonesia Tahun 2004
149,Bencana Non Alam dan Penyakit,60027,COVID-19,2021,COVID19.go.id
148,Bencana Non Alam dan Penyakit,60027,COVID-19,2021,Profil Kesehatan Indonesia Tahun 2020 dan COVI...
667,Bencana Alam,37527,Tsunami Aceh (Hilang),2004,Profil Kesehatan Indonesia Tahun 2004
312,Bencana Non Alam dan Penyakit,29952,Kecelakaan Lalu Lintas,2010,Profil Kesehatan Indonesia Tahun 2011
557,Bencana Non Alam dan Penyakit,23163,Penyakit Sistem Sirkulasi Darah,2008,Profil Kesehatan Indonesia Tahun 2009
556,Bencana Non Alam dan Penyakit,21830,Penyakit Sistem Sirkulasi Darah,2007,Profil Kesehatan Indonesia Tahun 2008
554,Bencana Non Alam dan Penyakit,19944,Penyakit Sistem Sirkulasi Darah,2005,Profil Kesehatan Indonesia Tahun 2005
555,Bencana Non Alam dan Penyakit,19361,Penyakit Sistem Sirkulasi Darah,2006,Profil Kesehatan Indonesia Tahun 2007
311,Bencana Non Alam dan Penyakit,18448,Kecelakaan Lalu Lintas,2009,Profil Kesehatan Indonesia Tahun 2009

In [64]:
# 4. Total kematian dari satu penyebab penyakit untuk point no 4 nanti kita cari penyakit yang menyebabkan kematian tertinggi
no4_df = df[['Total Deaths', 'Type', 'Cause', 'Year', 'Source']]
no4_df

,Total Deaths,Type,Cause,Year,Source
0,0,Bencana Alam,Abrasi Air Laut,2012,Profil Kesehatan Indonesia Tahun 2012
1,47,Bencana Non Alam dan Penyakit,AIDS,2000,Profil Kesehatan Indonesia Tahun 2004
2,99,Bencana Non Alam dan Penyakit,AIDS,2001,Profil Kesehatan Indonesia Tahun 2004
3,100,Bencana Non Alam dan Penyakit,AIDS,2002,Profil Kesehatan Indonesia Tahun 2004
4,261,Bencana Non Alam dan Penyakit,AIDS,2003,Profil Kesehatan Indonesia Tahun 2010
...,...,...,...,...,...
674,0,Bencana Non Alam dan Penyakit,Wabah Penyakit (Epidemi),2016,Profil Kesehatan Indonesia Tahun 2016
675,0,Bencana Non Alam dan Penyakit,Wabah Penyakit (Epidemi),2017,Profil Kesehatan Indonesia Tahun 2017
676,0,Bencana Non Alam dan Penyakit,Wabah Penyakit (Epidemi),2019,Profil Kesehatan Indonesia Tahun 2019
677,0,Bencana Non Alam dan Penyakit,Wabah Penyakit (Epidemi),2020,Profil Kesehatan Indonesia Tahun 2020
678,0,Bencana Non Alam dan Penyakit,Wabah Penyakit (Epidemi),2021,Profil Kesehatan Indonesia Tahun 2021

In [65]:
no4_df.sort_values('Total Deaths', ascending=False).head(10)

,Total Deaths,Type,Cause,Year,Source
668,129171,Bencana Alam,Tsunami Aceh (Meninggal),2004,Profil Kesehatan Indonesia Tahun 2004
149,60027,Bencana Non Alam dan Penyakit,COVID-19,2021,COVID19.go.id
148,60027,Bencana Non Alam dan Penyakit,COVID-19,2021,Profil Kesehatan Indonesia Tahun 2020 dan COVI...
667,37527,Bencana Alam,Tsunami Aceh (Hilang),2004,Profil Kesehatan Indonesia Tahun 2004
312,29952,Bencana Non Alam dan Penyakit,Kecelakaan Lalu Lintas,2010,Profil Kesehatan Indonesia Tahun 2011
557,23163,Bencana Non Alam dan Penyakit,Penyakit Sistem Sirkulasi Darah,2008,Profil Kesehatan Indonesia Tahun 2009
556,21830,Bencana Non Alam dan Penyakit,Penyakit Sistem Sirkulasi Darah,2007,Profil Kesehatan Indonesia Tahun 2008
554,19944,Bencana Non Alam dan Penyakit,Penyakit Sistem Sirkulasi Darah,2005,Profil Kesehatan Indonesia Tahun 2005
555,19361,Bencana Non Alam dan Penyakit,Penyakit Sistem Sirkulasi Darah,2006,Profil Kesehatan Indonesia Tahun 2007
311,18448,Bencana Non Alam dan Penyakit,Kecelakaan Lalu Lintas,2009,Profil Kesehatan Indonesia Tahun 2009

In [66]:
# 5. Penyebab kematian tertinggi dari Bencana Sosial
no5_df = df[['Total Deaths', 'Type', 'Year', 'Source']]
no5_df

,Total Deaths,Type,Year,Source
0,0,Bencana Alam,2012,Profil Kesehatan Indonesia Tahun 2012
1,47,Bencana Non Alam dan Penyakit,2000,Profil Kesehatan Indonesia Tahun 2004
2,99,Bencana Non Alam dan Penyakit,2001,Profil Kesehatan Indonesia Tahun 2004
3,100,Bencana Non Alam dan Penyakit,2002,Profil Kesehatan Indonesia Tahun 2004
4,261,Bencana Non Alam dan Penyakit,2003,Profil Kesehatan Indonesia Tahun 2010
...,...,...,...,...
674,0,Bencana Non Alam dan Penyakit,2016,Profil Kesehatan Indonesia Tahun 2016
675,0,Bencana Non Alam dan Penyakit,2017,Profil Kesehatan Indonesia Tahun 2017
676,0,Bencana Non Alam dan Penyakit,2019,Profil Kesehatan Indonesia Tahun 2019
677,0,Bencana Non Alam dan Penyakit,2020,Profil Kesehatan Indonesia Tahun 2020
678,0,Bencana Non Alam dan Penyakit,2021,Profil Kesehatan Indonesia Tahun 2021

In [67]:
type_df = no5_df.groupby('Type')['Total Deaths'].sum()
type_df

Type
Bencana Alam                     185290
Bencana Non Alam dan Penyakit    740160
Bencana Sosial                      261
Name: Total Deaths, dtype: int64

In [68]:
no5_df.sort_values('Total Deaths', ascending=False).head(5)

,Total Deaths,Type,Year,Source
668,129171,Bencana Alam,2004,Profil Kesehatan Indonesia Tahun 2004
149,60027,Bencana Non Alam dan Penyakit,2021,COVID19.go.id
148,60027,Bencana Non Alam dan Penyakit,2021,Profil Kesehatan Indonesia Tahun 2020 dan COVI...
667,37527,Bencana Alam,2004,Profil Kesehatan Indonesia Tahun 2004
312,29952,Bencana Non Alam dan Penyakit,2010,Profil Kesehatan Indonesia Tahun 2011