# Kelompok II - Causes of Death in Indonesia

Dataset Penyebab Kematian di Indonesia dikompilasi dalam bentuk file CSV untuk memudahkan analisis.

####
> 1. Read Data

In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('Penyebab Kematian di Indonesia yang Dilaporkan - Clean.csv')

####
> 2. Show Data

In [2]:
df.head()

,Cause,Type,Year,Data Redundancy,Total Deaths,Source,Page at Source,Source URL
0,Abrasi Air Laut,Bencana Alam,2012,1,0,Profil Kesehatan Indonesia Tahun 2012,Lampiran 3.38,https://pusdatin.kemkes.go.id/download.php?fil...
1,AIDS,Bencana Non Alam dan Penyakit,2000,1,47,Profil Kesehatan Indonesia Tahun 2004,78,https://pusdatin.kemkes.go.id/download.php?fil...
2,AIDS,Bencana Non Alam dan Penyakit,2001,1,99,Profil Kesehatan Indonesia Tahun 2004,78,https://pusdatin.kemkes.go.id/download.php?fil...
3,AIDS,Bencana Non Alam dan Penyakit,2002,1,100,Profil Kesehatan Indonesia Tahun 2004,78,https://pusdatin.kemkes.go.id/download.php?fil...
4,AIDS,Bencana Non Alam dan Penyakit,2003,1,261,Profil Kesehatan Indonesia Tahun 2010,115,https://pusdatin.kemkes.go.id/download.php?fil...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680 entries, 0 to 679
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Cause            680 non-null    object
 1   Type             680 non-null    object
 2   Year             680 non-null    int64
 3   Data Redundancy  680 non-null    int64
 4   Total Deaths     680 non-null    int64
 5   Source           680 non-null    object
 6   Page at Source   678 non-null    object
 7   Source URL       677 non-null    object
dtypes: int64(3), object(5)
memory usage: 42.6+ KB

####
> 3. Handle missing values

In [5]:
df.isnull().sum()

Cause              0
Type               0
Year               0
Data Redundancy    0
Total Deaths       0
Source             0
Page at Source     2
Source URL         3
dtype: int64

In [6]:
df[df["Source URL"].isna() | df["Page at Source"].isna()]

,Cause,Type,Year,Data Redundancy,Total Deaths,Source,Page at Source,Source URL
149,COVID-19,Bencana Non Alam dan Penyakit,2021,1,121956,COVID19.go.id,NaN,NaN
150,COVID-19,Bencana Non Alam dan Penyakit,2022,1,12876,COVID19.go.id,NaN,NaN
608,Rabies - Lyssa,Bencana Non Alam dan Penyakit,2020,1,40,Profil Kesehatan Indonesia Tahun 2020,205,NaN

menggabungkan kedua informasi catatan dan hapus salah satunya. Buat kategori baru "unknown" untuk "source url" dan "page at source"

In [7]:
df.loc[df.Cause == "COVID-19", "Total Deaths"] = 22138 + 37889
df.loc[df.Cause == "COVID-19", "Year"] = 2021
df.loc[df.Cause == "COVID-19", "Source URL"] = "unknown"
df.loc[df.Cause == "COVID-19", "Page at Source"] = "unknown"

df_to_drop = df[ df['Cause'] == "COVID-19 (per tanggal 3/7/2021)" ] 
df = df.drop(df_to_drop.index, axis=0)
df.reset_index(drop=True, inplace=True)

df[(df["Cause"]=="COVID-19") | (df["Cause"]=="COVID-19 (per tanggal 3/7/2021)")]

,Cause,Type,Year,Data Redundancy,Total Deaths,Source,Page at Source,Source URL
148,COVID-19,Bencana Non Alam dan Penyakit,2021,1,60027,Profil Kesehatan Indonesia Tahun 2020 dan COVI...,unknown,unknown
149,COVID-19,Bencana Non Alam dan Penyakit,2021,1,60027,COVID19.go.id,unknown,unknown
150,COVID-19,Bencana Non Alam dan Penyakit,2021,1,60027,COVID19.go.id,unknown,unknown

In [9]:
df.isnull().sum()

Cause              0
Type               0
Year               0
Data Redundancy    0
Total Deaths       0
Source             0
Page at Source     0
Source URL         1
dtype: int64

In [10]:
df[df["Source URL"].isna()]

,Cause,Type,Year,Data Redundancy,Total Deaths,Source,Page at Source,Source URL
608,Rabies - Lyssa,Bencana Non Alam dan Penyakit,2020,1,40,Profil Kesehatan Indonesia Tahun 2020,205,NaN

In [13]:
df.loc[df.Cause == "Rabies - Lyssa", "Source URL"] = "unknown"

In [14]:
df.isnull().sum()

Cause              0
Type               0
Year               0
Data Redundancy    0
Total Deaths       0
Source             0
Page at Source     0
Source URL         0
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680 entries, 0 to 679
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Cause            680 non-null    object
 1   Type             680 non-null    object
 2   Year             680 non-null    int64
 3   Data Redundancy  680 non-null    int64
 4   Total Deaths     680 non-null    int64
 5   Source           680 non-null    object
 6   Page at Source   680 non-null    object
 7   Source URL       680 non-null    object
dtypes: int64(3), object(5)
memory usage: 42.6+ KB

Membuang ekstra sepasi dalam teks

In [16]:
df['Cause'] = df['Cause'].replace('\s+', ' ', regex=True)
df['Type'] = df['Type'].replace('\s+', ' ', regex=True)
df['Source'] = df['Source'].replace('\s+', ' ', regex=True)
df['Page at Source'] = df['Page at Source'].replace('\s+', ' ', regex=True)
df['Source URL'] = df['Source URL'].replace('\s+', ' ', regex=True)

Check duplicates

In [17]:
df[df.duplicated(keep=False)]

,Cause,Type,Year,Data Redundancy,Total Deaths,Source,Page at Source,Source URL
149,COVID-19,Bencana Non Alam dan Penyakit,2021,1,60027,COVID19.go.id,unknown,unknown
150,COVID-19,Bencana Non Alam dan Penyakit,2021,1,60027,COVID19.go.id,unknown,unknown

In [18]:
df.drop_duplicates(inplace=True)

In [19]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [Cause, Type, Year, Data Redundancy, Total Deaths, Source, Page at Source, Source URL]
Index: []

In [20]:
df.reset_index(drop=True, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 679 entries, 0 to 678
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Cause            679 non-null    object
 1   Type             679 non-null    object
 2   Year             679 non-null    int64
 3   Data Redundancy  679 non-null    int64
 4   Total Deaths     679 non-null    int64
 5   Source           679 non-null    object
 6   Page at Source   679 non-null    object
 7   Source URL       679 non-null    object
dtypes: int64(3), object(5)
memory usage: 42.6+ KB